# Python
venv/
__pycache__/
*.pyc

# Environment Variables
.env
backend/.env

# React
frontend/node_modules/
frontend/dist/

# ChromaDB
backend/chroma_db/

# Uploads
backend/uploads/

# Mac
.DS_Store

# VS Code
.vscode/